/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-size: 13px;
    color: #a8a8a8;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

body > section {
    padding: 100px 0;
}

.section-title {
    margin: 0 auto 85px;
    width: 420px;
}

.section-title h2 {
    color: #1f2021;
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 27px;
    text-transform: uppercase;
}

.section-title h2:before {
    border-bottom: 1px solid #1f2021;
    bottom: 0;
    content: "";
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

.section-title h2:after {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #1F2021;
    border-radius: 25px;
    bottom: -6px;
    content: "";
    height: 11px;
    left: 50%;
    margin-left: -5.5px;
    position: absolute;
    width: 11px;
}

.section-title p {
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
}

.btn {
    border-radius: 0;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
    background-color: #67b168;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 35px;
}

.kill-margin {
    margin: 0 !important;
}

/*************************
*******Navigation******
**************************/

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
    padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
    padding: 23px 25px;
}

#navigation > .container {
    border-bottom: 1px solid #636364;
}

.animated-nav#navigation > .container {
    border-bottom: none;
}

.navbar-brand {
    height: inherit;
    padding: 30px 0;
}

.navbar-brand a {
    display: block;
}

.navigation .navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 38px 25px;
    text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
    color: #5cb85c;
    border-bottom: 1px solid #5cb85c;
}

.animated-nav .navigation .navbar-nav > li.current > a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
    background-color: transparent;
}

.search-form {
    position: relative;
}

.search-form > #search {
    width: 100%;
}

.search-form > #search {
    background-color: transparent;
    height: 40px;
    border: 0;
    margin-top: 28px;
    width: 100%;
}

.search-form > #search-sub {
    background: url("../img/icons/search.png") no-repeat scroll 0 0 transparent;
    border: 0;
    bottom: 11px;
    height: 15px;
    position: absolute;
    right: 8px;
    padding: 0;
    text-indent: -9999em;
    width: 15px;
}

.animated-nav .search-form > #search-sub {
    bottom: 22px;
}

/*************************
*******Slider******
**************************/

#home {
    padding: 0;
    overflow: hidden;
}

#home-carousel .carousel-inner .item {
    background-size: cover;
}

#home-carousel .slider-content {
    height: 100%;
}

#home-carousel .carousel-caption {
    left: 0;
    top: 0;
    z-index: 11;
    text-align: left;
}

.carousel-caption > div {
    background-color: #1ab188;
    padding: 60px 50px 80px 20%;
    position: absolute;
    top: 25%;
    width: 76%;
}

#home-carousel .carousel-inner h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
    text-shadow: none;
    text-transform: uppercase;
}

#home-carousel .carousel-inner p {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 13px;
    margin-top: 0;
    text-shadow: none;
}

#nav-arrows > a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    height: 60px;
    line-height: 76px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
    z-index: 20;
    margin-top: -30px;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#nav-arrows > a.sl-prev {
    left: 50px;
}

#nav-arrows > a.sl-next {
    right: 50px;
}

#nav-arrows > a.sl-next:hover {
    background-color: #1ab188;
    border-color: #179b77;
    color: #fff;
}

.carousel-indicators .active {
    background-color: #b2dba1;
    border: 0;
}

/*============================================================
    Services
============================================================*/

#service .media > .pull-left {
    margin-right: 50px;
}

#service .media .media-body h3 {
    color: #5cb85c;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
}

#service .media .media-body p {
    color: #A8A8A8;
    font-size: 13px;
    line-height: 24px;
}

#service .media {
    padding-bottom: 50px;
    padding-left: 20px;
}

.service-item {
    margin-bottom: 70px;
}

.service-icon {
    float: left;
    margin-top: 8px;
}

.service-desc {
    margin-left: 115px;
}

.service-item h3 {
    color: #5cb85c;
    font-size: 20px;
    margin-bottom: 28px;
}

.service-item p {
    line-height: 24px;
}



/*============================================================
   Photos
============================================================*/

#projects {
    width: 100%;
}

.exhibition-filter {
    margin-bottom: 40px;
}

.exhibition-filter ul li {
    padding: 0;
}

.exhibition-filter ul li a {
    color: #fff;
    display: block;
    line-height: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.exhibition-filter ul li a:hover,
.exhibition-filter ul li a.active {
    background-color: #179b77;
    color: #fff;
}

.mix {
    display: none;
}

.photo-item {
    position: relative;
    float: left;
    overflow: hidden;
    width: 25%;
    height: 350px;
    padding: 3px;
}

.plus {
    background: url("../img/icons/logo.png") no-repeat scroll center center #179b77;
    border-radius: 50%;
    display: block;
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: absolute;
    top: -41px;
    width: 80px;

    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}

figcaption.mask {
    background-color: #fff;
    bottom: -101px;
    left: 0;
    padding: 30px 0 30px 30px;
    position: absolute;
    width: 100%;

    -webkit-transition: 0.3s ease-out 0s;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}

.photo-item:hover figcaption.mask {
    bottom: 0;
}

.photo-item:hover .plus {
    top: 30%;
}

figcaption.mask h3 {
    color: #1f2021;
    font-size: 20px;
    line-height: 28px;
}

figcaption.mask span {
    color: #5cb85c;
}

/*============================================================
    Footer
============================================================*/

#footer {
    background-color: #1ab188;
    padding: 115px 0 35px;
}

.footer-logo {
    margin-bottom: 45px;
}


.footer-social {
    margin-bottom: 85px;
}

.footer-social h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-social h3:after {
    border-bottom: 1px solid #fff;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -115px;
    position: absolute;
    width: 230px;
}

.footer-social ul li a {
    color: #fff;
    display: block;
    margin: 0 8px;
}

.footer-social ul li a:hover {
    color: #fff;
}

/*============================================================
   Media
============================================================*/
.video {
    width: 704px;
    height: 436px;
}

.audio {
    width: 470px;
    height: 450px;
}


